// definindo as variaveis de ambiente

DB_HOST =
DB_USER =
DB_PASS =
DB_DATABASE =


// Definimos os dados para JWT
JWT_SECRETO = super_secret

// tempo em que expira o token
JWT_TEMPO_EXPIRACAO = 7d

// tempo em que expira o cookie
JWT_COOKIE_EXPIRACAO =  90